@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .5s ease;
}

body{
    
    background-color: #F7F7F7;
    font-family:'Poppins', sans-serif ;
}
.btn-primary{
    border-color: orangered;
background-color: rgb(255, 85, 43);
}
.btn-primary:hover{
    background-color: orangered;
    border-color: orangered;
}
.hero{
    height: 80vh;
}