.nav-bar{
   
    padding: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(175, 175, 175) 0 0 4px;
    display: flex;
    height: 10vh;
    width: 100%;
    
}
.nav-brand{
    span{
        margin-left: 10px;
        color: orangered;
        font-weight: 600;
        font-size: 24px;
    
    }
    img{
        padding: 10px;
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }
}
.nav-list{
   padding-top: 10px;
    ul{
        list-style: none;
        li{
            display: inline;
            padding: 10px;
            a{
                color: orangered;
                text-decoration: none;         
            }
        }
    }
}