.nav-bar{
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(117, 117, 117) 0 0 4px;
    display: flex;
    height: 10vh;
    width: 100%;
}
.nav-brand{
    padding: 10px;
    span{
        margin-left: 10px;
        color: orangered;
        font-weight: 600;
        font-size: 24px;
    
    }
    img{
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }
}
.nav-list{
    padding: 20px;
    ul{
        list-style: none;
        li{
            display: inline;
            padding: 10px;
            a{
                text-decoration: none;         
            }
        }
    }
}